*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    width:900px;
    height:500px;
    border:none;
    box-shadow: 0px 10px 26px -3px rgba(0,0,0,0.5);
    display:flex;
    justify-content: space-between;
    font-family:sans-serif;
    margin:50px auto;
    background-color: #bab6b6;
 
}
.content{
    padding:50px;
    
}
.content .header{
    font-size:40px;
}
.content .career{
    padding-top:60px;
    color:rgb(107, 73, 9);
}
.content .name{
    padding-top:30px;
    font-size:50px;
}
 img{
    width:500px;
    height:500px;
    background-image: no-repeat;
    background-position: center;
    background-size: cover;

}
.btn{
    margin-top:20px;
    height:40px;
    width:80px;
    border:none;
    font-size:bold;
    background-color:#fff;
    font-size:15px;

}
.one{
    width:140px;
    color:#fff;
    background-color:rgb(243, 187, 83);
}

