*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    width:900px;
    height:500px;
    border:none;
    border-radius:15px;
    box-shadow: 0px 10px 26px -3px rgba(0,0,0,0.5);
    display:flex;
    justify-content: space-between;
    font-family:sans-serif;
    margin:50px auto;
    background-color: #bab6b6;

    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
 
}
.content{
    padding:50px;
    
}
.content .header{
    font-size:40px;
}
.content .career{
    padding-top:60px;
    color:rgb(77, 77, 211);
}
.content .name{
    padding-top:30px;
    padding-bottom:20px;
    font-size:50px;
}
 img{
    width:500px;
    height:500px;
    background-image: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius:10%;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    
}
.paragraph{
    padding:10px;
    
}
.no-style{
    color:rgb(233, 232, 236);
    text-decoration: none;
    padding: 2px;
    width:20px;
    height:40px;
    background:rgb(77, 77, 211);;
}

.no-style:hover{
    color:rgb(254, 253, 252);
    text-decoration: none;
    padding: 2px;
    background: #10024c86;
}

.no-style:visited{
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 2px;
    background: #44059b86;
}


